.font_sans {
  font-family: var(--font-sans);
}

.font_mono {
  font-family: var(--font-mono);
}

.kind_primary {
  :where([data-bg-mode="light"]) & {
    color: var(--color-primary);
  }

  :where([data-bg-mode="dark"]) & {
    color: var(--color-primary-inverted);
  }
}

.kind_secondary {
  :where([data-bg-mode="light"]) & {
    color: var(--color-secondary);
  }

  :where([data-bg-mode="dark"]) & {
    color: var(--color-secondary-inverted);
  }
}

.size_xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  letter-spacing: var(--text-xs--font-stretch);
}

.size_s {
  font-size: var(--text-s);
  line-height: var(--text-s--line-height);
  letter-spacing: var(--text-s--font-stretch);
}

.size_m {
  font-size: var(--text-m);
  line-height: var(--text-m--line-height);
  letter-spacing: var(--text-m--font-stretch);
}

.size_l {
  font-size: var(--text-l);
  line-height: var(--text-l--line-height);
  letter-spacing: var(--text-l--font-stretch);
}
