.cell {
  composes: gridColumnHeader from "./Grid.module.css";
  align-items: center;
  justify-content: space-between;
}

.insertBeforeContainer {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  translate: -50%;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: "";

    position: absolute;

    display: block;

    inline-size: 1px;
    block-size: calc(100% / 2 - calc(var(--spacing) * 7));

    opacity: 0;
    background-color: var(--color-border);
  }

  &::before {
    inset-block-start: calc(var(--spacing) * 3);
  }

  &::after {
    inset-block-end: calc(var(--spacing) * 3);
  }

  &:dir(rtl) {
    translate: 50%;
  }

  &:hover::before,
  &:hover::after,
  &:has(:focus-visible)::before,
  &:has(:focus-visible)::after {
    opacity: 1;
  }
}

.insertBeforeButton {
  opacity: 0;

  &.edgeIcon {
    background-color: var(--bg-right);
  }

  .insertBeforeContainer:hover &,
  .insertBeforeContainer:has(:focus-visible) & {
    opacity: 1;
  }
}

.contrastSection {
  position: relative;
}

.lockButton {
  position: absolute;
  z-index: 1;
  inset-block-end: 0;
  inset-inline-end: 50%;
  translate: 50% 50%;

  opacity: 0;

  transition: opacity 0.2s;

  .cell:hover &,
  .cell:has(:focus-visible) & {
    opacity: 0.3;
  }

  .cell:hover &:hover,
  .cell:has(:focus-visible) &:hover {
    opacity: 0.8;
  }

  &.locked {
    color: var(--color-primary);
    opacity: 1;
  }

  &.locked:hover {
    opacity: 1;
  }
}

.chromaSection {
  margin-block-start: calc(var(--spacing) * 1.5);

  &:has(.copyChromaButton:hover) .inputSecondary {
    --input-color: var(--color-primary);
  }
}

.copyChromaButton {
  inline-size: 100%;
  margin-block-start: calc(var(--spacing) * 0.5);
  opacity: 0;
  transition: opacity 0.2s;

  .cell:hover &,
  .cell:has(:focus-visible) & {
    opacity: 0.6;
  }

  .cell:hover &:hover,
  .cell:has(:focus-visible) &:hover {
    opacity: 1;
  }
}
