.cell {
  composes: gridRowHeader from "./Grid.module.css";
  gap: var(--spacing);
  align-items: stretch;
  justify-content: center;
}

.insertBeforeContainer {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  translate: 0 -50%;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: "";

    position: absolute;

    display: block;

    inline-size: calc(100% / 2 - calc(var(--spacing) * 7));
    block-size: 1px;

    opacity: 0;
    background-color: var(--color-border);
  }

  &::before {
    inset-inline-start: calc(var(--spacing) * 3);
  }

  &::after {
    inset-inline-end: calc(var(--spacing) * 3);
  }

  &:dir(rtl) {
    translate: 0 50%;
  }

  &:hover::before,
  &:hover::after,
  &:has(:focus-visible)::before,
  &:has(:focus-visible)::after {
    opacity: 1;
  }
}

.insertBeforeButton {
  opacity: 0;

  .insertBeforeContainer:hover &,
  .insertBeforeContainer:has(:focus-visible) & {
    opacity: 1;
  }
}

.control {
  inline-size: calc(100% + 14px);
  max-inline-size: calc(100% + 14px);
  margin-inline-start: -7px;
}

.resetColorNameButton {
  overflow: hidden;
  inline-size: 0;
  padding: 1px;
  opacity: 0;

  .control:has(:where(:focus, :active)) & {
    inline-size: auto;
    opacity: 1;
  }
}
