.cell {
  composes: gridRowHeader from "./Grid.module.css";
  gap: var(--spacing);
  justify-content: center;
  padding-inline: calc(var(--spacing) * 6) calc(var(--spacing) * 4);
}

.button::before {
  content: "";
  position: absolute;
  inset: calc(var(--spacing) * 4);
}
