.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  inline-size: 100%;
  block-size: 100%;

  &.dark {
    background-color: var(--bg-dark);
  }

  &.light {
    background-color: var(--bg-light);
  }
}
