.cell {
  --border: var(--color-border);

  &[data-bg-mode="dark"] {
    --border: var(--color-border-inverted);
  }

  &:is(:hover, :focus-visible) :is(.lightness, .chroma, .contrast, .hue) {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

.colorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  inline-size: 100%;
  block-size: 100%;
  padding: calc(var(--spacing) * 2);

  transition: background 0.3s;

  &.tl {
    border-start-start-radius: var(--radius-lg);
  }

  &.tr {
    border-start-end-radius: var(--radius-lg);
  }

  &.bl {
    border-end-start-radius: var(--radius-lg);
  }

  &.br {
    border-end-end-radius: var(--radius-lg);
  }

  .cell:focus-visible & {
    box-shadow: inset 0 0 0 3px var(--color-universal-focus);
  }
}

.p3Label {
  display: block;
  padding: 1px calc(var(--spacing) * 0.5);
  border: 1px solid var(--border);
  border-radius: var(--radius-xs);
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:is(.lightness, .chroma, .contrast, .hue) {
  font-variant-numeric: tabular-nums;

  @media (hover: hover) {
    opacity: 0;
  }
}

.contrast {
  text-align: center;
}
