.cell {
  composes: gridTopLeftCell from "./Grid.module.css";
  gap: calc(var(--spacing) * 5);
  align-items: flex-start;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 0.5);
  align-items: flex-start;
}

.levelLabel {
  margin-top: -1px;
}

.middle {
  margin: 1px 0;
}

.bottom {
  margin-top: auto;
}

.colorModePicker {
  flex-direction: row;
}
