@import "tailwindcss";

@source "./**/*.module.css";
@source "./**/*.tsx";

@font-face {
  font-family: MGrotesk;
  font-weight: 300 500;
  font-display: swap;
  font-stretch: 75% 200%; /* Cn: 75%,  Nr: 87.5%,  Std: 100%,  sWd: 112.5%,  Wd: 125%,  xWd: 150%,  uWd: 200% */
  src: url("https://cdn.evilmartians.com/front/fonts/MartianGrotesk.woff2") format("woff2");
}

@font-face {
  font-family: MMono;
  font-weight: 100 800; /* Th: 100, xLt: 200, Lt: 300, Rg: 400, Md: 500, (no 600), Bd: 700, xBd: 800 */
  font-display: swap;
  font-stretch: 100% 112.5%;
  src: url("https://cdn.evilmartians.com/front/fonts/MartianMono.woff2") format("woff2");
}

@theme {
  --font-sans:
    MGrotesk, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono:
    MMono, ui-monospace, sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New",
    monospace;
  --color-primary: oklch(0% 0 0deg);
  --color-primary-inverted: oklch(100% 0 0deg);
  --color-secondary: oklch(0% 0 0deg / 58.82%);
  --color-secondary-inverted: oklch(100% 0 0deg / 58.82%);
  --color-button: oklch(0% 0 0deg / 12.55%);
  --color-button-inverted: oklch(100% 0 0deg / 12.55%);
  --color-button-hover: oklch(0% 0 0deg / 25.1%);
  --color-button-hover-inverted: oklch(100% 0 0deg / 25.1%);
  --color-border: oklch(0% 0 0deg / 25.1%);
  --color-border-inverted: oklch(100% 0 0deg / 25.1%);
  --color-universal-focus: oklch(70% 0.1661 242.68deg / 90%);
  --color-universal-error: oklch(79.41% 0.0931 20.98deg / 50%);
  --text-xs: 7.5px;
  --text-xs--line-height: 10px;
  --text-s: 10px;
  --text-s--line-height: 16px;
  --text-ui-s: 10px;
  --text-ui-s--line-height: 12px;
  --text-m: 12.5px;
  --text-m--line-height: 16px;
  --text-ui-m: 12.5px;
  --text-ui-m--line-height: 16px;
  --text-l: 25px;
  --text-l--line-height: 32px;
  --text-ui-l: 25px;
  --text-ui-l--line-height: 24px;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

body,
html,
#root {
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  padding: 0;

  font-family: var(--font-sans);

  background-color: var(--color-primary-inverted);
}
