.container {
  display: inline-flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);

  inline-size: 100%;
  max-inline-size: 100%;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);

  color: var(--input-color, var(--color-primary));

  background: var(--input-bg-color, transparent);

  transition:
    color 0.3s,
    background 0.3s,
    border-color 0.3s;

  &:has(:where(:focus, :invalid)) {
    outline-style: solid;
    outline-width: 1px;
  }

  &:where(:hover:not(:has(:disabled))) {
    border-color: var(--input-border-color, var(--color-border));
  }

  &:has(:invalid) {
    border-color: var(--color-universal-error);
    outline-color: var(--color-universal-error);
  }

  &:has(:focus) {
    border-color: var(--color-universal-focus);
    outline-color: var(--color-universal-focus);
  }
}

.kind_bordered {
  border-color: var(--input-border-color, var(--color-border));
}

.size_m {
  padding: var(--spacing) calc(var(--spacing) * 1.5);
}

.size_xl {
  padding: calc(var(--spacing) * 2) var(--spacing);
}

.label {
  cursor: text;

  font-size: var(--text-ui-s);
  font-weight: 500;
  line-height: var(--text-ui-s--line-height);
  text-align: center;
}

.inputContainer {
  display: flex;
  gap: calc(var(--spacing) * 1.5);
  align-items: center;

  :where(.size_xl) & {
    inline-size: 100%;
  }
}

.input {
  inline-size: 100%;
  max-inline-size: var(--input-max-inline-size, 100%);
  font-size: var(--text-m);
  line-height: 1.25rem;

  :where(.size_xl) & {
    inline-size: 100%;
    font-size: var(--text-ui-l);
    line-height: var(--text-ui-l--line-height);
    text-align: center;
  }

  &:focus {
    outline: none;
  }

  &:invalid {
    color: var(--color-universal-error-text);
  }

  &:invalid::placeholder {
    color: var(--color-universal-error);
  }
}
