.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--color-primary);
  white-space: nowrap;

  transition:
    color 0.2s,
    background-color 0.2s;

  &:hover {
    background-color: var(--color-button-hover);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-universal-focus);
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--color-secondary);
    background-color: var(--color-button-disabled);
  }
}

.kind_primary {
  background-color: var(--color-button-hover);
}

.kind_floating {
  color: var(--color-primary-dark);
  background-color: var(--color-universal-elevation);

  &:hover {
    background-color: var(--color-universal-elevation-hover);
  }
}

.size_xs {
  gap: calc(var(--spacing) / 2);

  padding: calc(var(--spacing) / 2);
  border-radius: var(--radius-xs);

  font-size: var(--text-ui-s);
  line-height: var(--text-ui-s--line-height);

  :where(.icon) {
    inline-size: var(--text-ui-s--line-height);
    block-size: var(--text-ui-s--line-height);
  }
}

.size_s {
  gap: var(--spacing);

  padding: var(--spacing);
  border-radius: var(--radius-sm);

  font-size: var(--text-ui-s);
  line-height: var(--text-ui-s--line-height);

  :where(.icon) {
    inline-size: var(--text-ui-s--line-height);
    block-size: var(--text-ui-s--line-height);
  }
}

.size_m {
  gap: calc(var(--spacing) * 1.5);

  padding: calc(var(--spacing) * 1.5);
  border-radius: var(--radius-sm);

  font-size: var(--text-ui-m);
  line-height: var(--text-ui-m--line-height);

  :where(.icon) {
    inline-size: var(--text-ui-m--line-height);
    block-size: var(--text-ui-m--line-height);
  }
}

.size_l {
  gap: calc(var(--spacing) * 2);

  padding: calc(var(--spacing) * 2);
  border-radius: var(--radius-sm);

  font-size: var(--text-ui-l);
  line-height: var(--text-ui-l--line-height);

  :where(.icon) {
    inline-size: var(--text-ui-l--line-height);
    block-size: var(--text-ui-l--line-height);
  }
}

.rounded {
  border-radius: 50%;
}
