.container {
  position: fixed;
  z-index: 100;
  inset-block-end: calc(var(--spacing) * 4);
  inset-inline-end: calc(var(--spacing) * 4);

  display: flex;
  gap: calc(var(--spacing) / 2);

  [data-with-horizontal-scrollbar] + & {
    inset-block-end: calc(var(--spacing) * 4 + var(--scrollbar-width));
  }

  [data-with-vertical-scrollbar] + & {
    inset-inline-end: calc(var(--spacing) * 4 + var(--scrollbar-width));
  }
}
