.container {
  display: inline-flex;
}

.icon {
  inline-size: var(--text-ui-m--line-height);
  block-size: var(--text-ui-m--line-height);

  &:where(.size_xs) {
    margin: calc(var(--spacing) / -2);
  }

  &:where(.size_s) {
    margin: calc(var(--spacing) / -1);
  }

  &:where(.size_m) {
    inline-size: var(--text-ui-l--line-height);
    block-size: var(--text-ui-l--line-height);
    margin: calc(var(--spacing) * -1.5);
  }

  &:where(.size_l) {
    inline-size: var(--text-ui-l--line-height);
    block-size: var(--text-ui-l--line-height);
    margin: calc(var(--spacing) * -2);
  }

  [aria-expanded="true"] > & {
    transform: rotate(180deg);
  }
}

.dropdown {
  border-radius: var(--radius-sm);
  background-color: var(--color-universal-elevation);
}

.control {
  display: inline-flex;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkIcon {
  inline-size: calc(var(--spacing) * 4);
  block-size: calc(var(--spacing) * 4);
  margin-inline-start: calc(var(--spacing) * 4);
}
